<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.18.0" newVersion="4.2.18.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<appSettings>    
    <add key="consumerKey" value="az7BIpP2GX8VtyVAXGHfmA"/>
    <add key="consumerSecret" value="71xUq5syRaF8DULpJ2TnzZcUa0S0TJ3nn8rJYuBa8U"/>
    <add key="accessToken" value="1680121153-rkFF0JOKjxz1DqCZ6v2dFNJdcvW2dN92j0kpubB"/>
    <add key="accessTokenSecret" value="KHPmSxGhdZZkRLml0mT1Mgdw8Yb7XjDdCnLxmcv2GSOGI"/>
  </appSettings>
</configuration>
